auto-save-list/*
elpa/*
.cache/*
transient/
ido.last
history
recentf
places
custom.el
projectile-bookmarks.eld
.lsp-session-v1
projects
org-persist
org-roam.db
server/
*~
eln-cache/
bookmarks
.org-id-locations
eshell
url/
